@media screen and (max-width: 890px) {
  .wrapper {
    padding: 0 40px;
  }
  .order-state .order-state-list .order-state-item {
    margin-right: 5.67%;
  }
  .order-state .order-state-list .order-state-item span {
    right: -26px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .order-state .order-previus, .order-state .order-next {
    font-size: 16px;
  }
  .order-state .order-current {
    font-size: 24px;
    line-height: 1.17;
  }
  .main .section_ticket .map-marker {
    padding-left: 20px;
  }
  .main .section_ticket .section_ticket-price_options .price_option-item_term {
    padding-bottom: 5px;
  }
  .section_ticket-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .section_ticket-price {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 20px;
    width: 100%;
  }
  .main .section_ticket-price_time {
    width: 100px;
    margin-right: 6%;
  }
  .main .section_ticket-destination {
    width: 85%;
  }
  .main .section_ticket-destination_place {
    font-size: 16px;
  }
  .main .section_ticket-destination_details {
    width: 40%;
  }
  .main .section_ticket-download {
    padding-top: 25px;
  }
  .main .section_ticket-download .download-img {
    margin: 0;
  }
}

@media screen and (max-width: 715px) {
  .wrapper {
    padding: 0 20px;
  }
  .order-state {
    padding-bottom: 10px;
  }
  .order-state .order-state-list .order-state-item {
    margin-right: 4%;
  }
  .order-state .order-state-list .order-state-item span {
    right: -20px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .order-state .order-previus, .order-state .order-next {
    font-size: 14px;
  }
  .order-state .order-current {
    font-size: 20px;
    line-height: 1.17;
  }
  .main .section_ticket {
    padding: 20px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 25px;
    margin-bottom: 6%;
  }
  .main .section_ticket .map-marker {
    padding: 0;
    padding-bottom: 10px;
  }
  .main .section_ticket .map-marker object {
    width: 34px;
    height: 34px;
  }
  .main .section_ticket-info {
    padding-top: 0;
    padding-bottom: 5px;
  }
  .main .section_ticket-destination {
    width: 100%;
  }
  .main .section_ticket-destination_place {
    font-size: 17px;
    line-height: 1.33;
  }
  .main .section_ticket-destination_details {
    width: 100%;
  }
  .main .section_ticket-price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
  }
  .main .section_ticket-price_time {
    width: 100%;
  }
  .main .section_ticket-price_options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .section_ticket-price_options .price_option-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    border-bottom: 1px solid #e4e8f0;
  }
  .main .section_ticket-price_options .price_option-item:first-child {
    border-top: 1px solid #e4e8f0;
  }
  .main .section_ticket-price_options .price_option-item_term {
    padding-bottom: 0;
  }
  .main .section_ticket .section_ticket-download {
    padding: 0;
    padding-top: 15px;
  }
  .main .section_ticket .section_ticket-download .download-img {
    border: none;
    width: auto;
    height: auto;
    margin: 0 auto;
  }
  .main .section_ticket .section_ticket-download .download-img span, .main .section_ticket .section_ticket-download .download-img span::after, .main .section_ticket .section_ticket-download .download-img span::before {
    border: none;
  }
  .main .section_ticket .section_ticket-download .download-img span {
    position: static !important;
  }
  .main .section_ticket .section_ticket-download .download-img span p {
    display: block;
    font-size: 14px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.4px;
    text-align: center;
    color: #2c49c5;
  }
}
/*# sourceMappingURL=media.css.map */