* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  padding: 20px;
  margin: 0 auto;
  max-width: 1338px;
}

.order-state {
  font-size: 0.8em;
  overflow: scroll;
  padding: 25px 0;
}

.order-state::-webkit-scrollbar {
  width: 0;
}

.order-state-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  min-width: 610px;
}

.order-state .order-state-item {
  position: relative;
  width: auto;
}

.order-state .order-previus {
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #262e4f;
}

.order-state .order-current {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: var(--dark-grey-blue);
}

.order-state .order-next {
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #d4d5dc;
}

.order-state .order-state-item span {
  position: absolute;
  display: inline-block;
  padding-left: 10px;
  width: 16px;
  top: 50%;
  right: -35px;
  border-bottom: 2px solid black;
}

.order-state .order-state-item span::before {
  content: ' ';
  display: block;
  position: absolute;
  width: 12px;
  top: -4px;
  left: 6px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  border-bottom: 2px solid black;
}

.order-state .order-state-item span::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 12px;
  top: 4px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-bottom: 2px solid black;
}

.order-state-list .order-next span, .order-state .order-current span,
.order-state .order-next span::after, .order-state .order-current span::after,
.order-state .order-next span::before, .order-state .order-current span::before {
  border-color: lightgray;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .order-state {
  width: 100%;
}

.main .order-state-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.main .order-state-item {
  margin-right: 5%;
}

.main .section_ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 2%;
  border: 2px solid #e4e8f0;
}

.main .section_ticket .map-marker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100px;
  padding: 20px 20px 0 30px;
  cursor: pointer;
}

.main .section_ticket .map-marker object {
  width: 50px;
}

.main .section_ticket-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  cursor: pointer;
}

.main .section_ticket-download .download-img {
  position: relative;
  width: 40px;
  height: 40px;
  margin: auto 0;
  border: 2px solid #2c49c5;
  cursor: pointer;
}

.main .section_ticket-download .download-img span {
  position: absolute;
  width: 15px;
  border: 1px solid #2c49c5;
  top: 45%;
  right: 30%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.main .section_ticket-download .download-img span p {
  display: none;
}

.main .section_ticket-download .download-img span::after {
  content: " ";
  position: absolute;
  width: 9px;
  border: 1px solid #2c49c5;
  top: -5px;
  right: -2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main .section_ticket-download .download-img span::before {
  content: " ";
  position: absolute;
  width: 9px;
  border: 1px solid #2c49c5;
  top: 3px;
  left: 4px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main .section_ticket-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

.main .section_ticket-destination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 28.7%;
}

.main .section_ticket-destination_place {
  font-size: 20px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  color: #262e4f;
  padding-bottom: 10px;
}

.main .section_ticket-destination_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main .section_ticket-destination_details p {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #9296a6;
  padding-right: 20px;
}

.main .section_ticket-destination_details a {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: right;
  color: #2c49c5;
}

.main .section_ticket-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33.3%;
  margin-right: 20%;
}

.main .section_ticket-price_time {
  font-size: 11px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: 0.5px;
  color: #7d8295;
  padding-bottom: 10px;
}

.main .section_ticket-price_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .section_ticket-price_options .price_option-item {
  width: 33.3%;
  min-width: 90px;
  margin-right: 20px;
}

.main .section_ticket-price_options .price_option-item_term {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #262e4f;
  padding-bottom: 10px;
}

.main .section_ticket-price_options .price_option-item_term label {
  padding-left: 5px;
}

.main .section_ticket-price_options .price_option-item_cost {
  display: inline-block;
  padding-left: 26px;
  font-size: 14px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: right;
  color: #262e4f;
}
/*# sourceMappingURL=style.css.map */